.chatBox {
    position: absolute;
    top: 30px;
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px 15px;

    overflow: auto;
    &::-webkit-scrollbar {
        width: 12px;
        height: 8px;
    }
    &::-webkit-scrollbar-button {
        height: 1px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #aaa;
    }
    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }
}

.inputDiv {
    position: absolute;
    bottom: 20px;
}

.user, .bot {
    max-width: 600px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    text-align: left;
    font-size: 24px;
    word-wrap: break-word;
}

.user {
    margin-left: auto;
}

.bot {
    margin-right: auto;
}

#inputText {
    height: 25px;
    width: 700px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    font-size: 20px;
    overflow: hidden;
    resize: none;
}

#inputText:hover {
    height: 150px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 12px;
        height: 8px;
    }
    &::-webkit-scrollbar-button {
        height: 3px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #aaa;
    }
    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }
}

#clickBtn {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
}
#inputBtn {
    position: relative;
    left: 10px;
    bottom: 13px;
}

#inputBtn, #clickBtn {
    height: 35px;
    width: 60px;
    border-radius: 30px;
    font-size: 15px;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

#clickBtn:hover, #inputBtn:hover {
    transform: scale(1.1);
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
}