body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.leftPage {
    position: relative;
    z-index: 0;
    background-color: #f4f4f4;
    width: 0%;
    height: 100%;
}

.mainPage {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.chatBox {
    position: absolute;
    top: 30px;
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px 15px;

    overflow: auto;
    &::-webkit-scrollbar {
        width: 12px;
        height: 8px;
    }
    &::-webkit-scrollbar-button {
        height: 1px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #aaa;
    }
    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }
}

.inputDiv {
    position: absolute;
    bottom: 20px;
}

.user, .bot {
    max-width: 400px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    text-align: left;
    font-size: 22px;
    word-wrap: break-word;
}

.user {
    margin-left: auto;
    /* background-color: #d1e7dd; */
}

.bot {
    margin-right: auto;
    /* background-color: #f8d7da; */
}

#inputText {
    height: 25px;
    width: 700px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    font-size: 20px;
    overflow: hidden;
    resize: none;
}

#inputText:hover {
    height: 150px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 12px;
        height: 8px;
    }
    &::-webkit-scrollbar-button {
        height: 3px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #aaa;
    }
    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }
}

#clickBtn {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
}
#inputBtn {
    position: relative;
    left: 10px;
    bottom: 13px;
}

#inputBtn, #clickBtn {
    height: 35px;
    width: 60px;
    border-radius: 30px;
    font-size: 15px;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

#clickBtn:hover, #inputBtn:hover {
    transform: scale(1.1);
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
}

.userDiv {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 160px;
}

.userIcon {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.userInfo {
    width: 160px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #eee;
}

.userDiv:hover .userInfo {
    display: flex;
}

#userName, #logoutBtn {
    width: 150px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

#logoutBtn {
    font-weight: lighter;
    font-size: 20px;
}

#userName:hover, #logoutBtn:hover {
    background-color: #aaa;
}

.like-option {
    background-color: white;
    display: flex;
}

.iconDiv {
    width: 30px;
    height: 30px;
    margin: 2px;
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
    text-align: center;
}

.like {
    line-height: 35px;
}
.dislike {
    line-height: 40px;
}

.icon {
    width: 20px;
    height: 20px;
}

.like:hover {
    transform: scale(1.1);
    background-color: #007BFF;
}
.dislike:hover {
    transform: scale(1.1);
    background-color: #aaaaaa;
}
.like.active {
    background-color: #007BFF;
}
.dislike.active {
    background-color: #aaaaaa;
}

