<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/message.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/model.css">
    <link rel="stylesheet" href="/css/icon.css">
    <script src="/js/script.js"></script>
    <script src="/js/message.js"></script>
    <script src="/js/icon.js"></script>
    <title>ChartGPT</title>
</head>

<body>
    <div class="container">
<!--        <button id="clickBtn">click</button>-->
<!--        <div class="leftPage" id="leftPage"></div>-->
        <div class="mainPage" id="mainPage">
            <div class="userDiv">
                <img src="/img/user.jpg" class="userIcon" alt="User Icon"/>
                <div class="userInfo">
                    <span id="userName"></span>
                    <span id="logoutBtn">Logout</span>
                </div>
            </div>
            <div class="chatBox" id="chatBox">
            </div>
            <div class="inputDiv">
                <textarea id="inputText" placeholder="send a message" rows="1"></textarea>
                <button  id="inputBtn">send</button>
            </div>
        </div>
    </div>
</body>
</html>